### Java ###
*.class
*.jar
*.war
*.ear

### Eclipse ###
.classpath
.project
.settings/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.env
### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### macOS ###
.DS_Store

### Logs ###
logs/
*.log

## others
.scannerwork/
.vscode/
sonar-project.properties